body {
    font-family:Rubik One;
    margin: 0;
}

.link-header, .my{
  font-family: 'Comic Mono', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: -5px -5px 0px #43acac;
  background: radial-gradient(#c0e264 1px, transparent 1px);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 0px 0px 20px 0px;
  text-decoration: none;
}
header{
    position: fixed;
    top:0; 
    z-index: 1;
    background-color: rgb(238, 185, 160);
    width: 100%;
    margin-top: 0;
}
nav a{
    background-color: #EF7657;
    text-decoration: none;
    color:black;
    padding: 20px

    
}

nav a:hover{
    transform:scale(1.3);
    padding:30px;


    
}

.rounded {
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(238, 85, 85, 0.5);
}
.rounded li {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #c1ee6d;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}

.rounded a{
    text-decoration: none;
    color: black;

}

.begin{
    margin-top: 150px;
}

footer{
    text-align:center;
}

